/* Global */

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
  font-family: 'Quicksand', sans-serif !important;
}

a, a:visited {
  text-decoration: none;
}

ul, ol {
  margin: 0 !important;
}

section {
  margin: 50px 0;
}

.flex-start {
  align-self: flex-start
}

.flex-center {
  align-self: center;
}

.blue-border {
  border: 2px solid #15509e;
}

.border-radius {
  border-radius: 20px;
  padding: 3px 20px;
  font-size: 16px;
  font-weight: 900;
  ;
}

.white-text, .white-text:visited {
  color: #fff;
}

.blue-text, .blue-text:visited {
  color: #2c4ca9;
}

.red-text, .red-text:visited {
  color: #EA5153;
}

.yellow-text, .yellow-text:visited {
  color: #FABC4D;
}

.ocean-text, .ocean-text:visited {
  color: #63c1c4;
}

.blue-bg {
  background-color: #2c4ca9;
}

.red-bg {
  background-color: #EA5153;
}

.yellow-bg {
  background-color: #FABC4D;
}

.ocean-bg {
  background-color: #63c1c4;
}

.gray-bg {
  background-color: #F3F3F3;
}

.reserve-hover, .contact-hover, .view-tour-hover {
  transition: all .3s;
}

.reserve-hover:hover {
  background-color: #FABC4D;
}

.contact-hover:hover {
  background-color: #fff;
  color: #2c4ca9;
}

.view-tour-hover:hover {
  background-color: #EA5153;
  color: #fff;
}

.flex {
  display: flex;
  flex: 1;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.basis-10 {
  flex-basis: 10%;
}

.basis-20 {
  flex-basis: 20%;
}

.basis-25 {
  flex-basis: 25%;
}

.basis-30 {
  flex-basis: 30%;
}

.basis-40 {
  flex-basis: 40%;
}

.basis-50 {
  flex-basis: 50%;
}

.basis-60 {
  flex-basis: 60%;
}

.basis-70 {
  flex-basis: 70%;
}

.basis-80 {
  flex-basis: 80%;
}

.basis-90 {
  flex-basis: 90%;
}

.basis-100 {
  flex-basis: 100%;
}

.j-a-center {
  justify-content: center;
  align-items: center;
}

.margin-s-10 {
  margin: 0 10px;
}

.margin-l-30 {
  margin-left: 30%;
}

.margin-r-30 {
  margin-right: 30%;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.max-h-30 {
  max-height: 30px;
}

.max-width-100 {
  max-width: 100%;
}

.max-img-200 {
  height: 200px;
}

.max-img-250 {
  height: 250px;
}

.side-padding {
  padding: 0 10%;
}

.side-margin {
  margin: 0 5%;
}

.small-margin {
  margin: 15px;
}

.absolute {
  position: absolute;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.wpcf7 form input, .wpcf7 form textarea {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  border-color: #a1a1a1;
  margin-bottom: 20px;
  padding: 10px 18px;
}

.submit-btn {
  background-color: #FABC4D !important;
  color: #fff !important;
}

.submit-btn:hover {
  background-color: #EA5153 !important;
}

/* Header */

.navbar {
  background-color: #f3f3f3;
  padding: 10px 0;
  min-height: 100px;
}

.daytour-logo {
  min-width: 130px;
  max-width: 130px;
}

.link-logo {
  font-size: 25px;
  color: #bdbdbd;
}

.link-logo:hover {
  color: #FABC4D;
}

#categories {
  flex-direction: row;
}

#categories>ul {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

#categories>ul>li {
  margin: 0 20px;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

#categories>ul>li>a {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 16px;
}

.site-nav__label {
  color: #25282b;
}

.site-nav__label:hover {
  color: #2c4ca9;
}

.hide-md {
  display: none !important;
}

#social-contact>a {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 900;
}

.lang-small {
  width: 25px;
  margin: 0 5px;
}

.hamburger {
  display: inline-block;
}

.MobileMenu {
  padding: 10px 0;
  background-color: #333;
  color: #fff !important;
}

.no-display {
  display: none;
}

.MobileMenu>#categories>ul>li>a {
  color: #fff;
}

.MobileMenu>#categories>ul>li>a:hover {
  color: #FABC4D;
}

/* Hero */

.hero {
  margin-top: 5vh;
}

.hero-left {
  padding-left: 50px;
  margin: 10vh 0 0 0;
}

.hero-left>h1 {
  margin: 0;
  color: #606060;
  font-size: 35px;
  text-transform: capitalize;
  text-align: left;
  letter-spacing: normal;
  font-weight: 300;
}

.hero-left>h2 {
  margin: 0;
  color: #13519C;
  font-size: 48px;
  text-transform: capitalize;
  text-align: left;
  letter-spacing: normal;
  font-weight: 300;
}

.no-overflow {
  overflow: hidden;
}

/* Circle paddle */

.circle {
  z-index: 2;
  border-radius: 50%;
  width: 250px;
  min-height: 250px;
  font-size: 23px;
}

.circle>p {
  margin: 0;
}

#reserve {
  color: #fff;
}

/* top tours */

.top-tours-container {
  color: #8D8D8D;
}

.top-tours-container>p {
  margin: 5px 0;
}

.top-tours-title {
  font-size: 20px;
}

/* Tour single */

.tour-mobile-item {
  margin: 20px 10%;
  flex-basis: 100%;
  max-width: 100%;
  min-height: 450px;
}

.single-tour-title {
  font-size: 22px;
  color: #3d4246;
}

/* Category single */

.full-width {
  width: 100%;
}

.category-mobile-item {
  width: 100%;
}

.force-flex-wrap {
  flex-wrap: wrap;
}

.category-item {
  margin: 10px 2%;
  flex-basis: 94%;
}

.width-82 {
  width: 82%;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.dark-transparency-bg {
  background-color: rgba(0, 0, 0, .6);
}

.category-index-title {
  margin: 0;
  padding: 5px 24px;
  font-size: 20px;
}

.category-index-icon {
  margin: 5px 0;
  padding: 0 0 0px 12px;
  font-size: 36px;
}

/*trip advisor*/

.comment-slider {
  width: 90%;
}

.comment-slider .comment-item {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.55;
}

.comment-slider .comment-item p {
  padding: 0 20px;
}

.slick-arrow {
  color: #f8bd4b;
  font-size: 50px;
  border: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}

/* Category Page*/

.upper {
  text-transform: uppercase;
}

.title {
  font-size: 32px;
  letter-spacing: 0.1em;
}

.avenir {
  font-family: "Avenir Next", sans-serif;
}

.categories-container>h1 {
  font-size: 25px;
  color: #6E6E6E;
  margin-top: 75px;
}

.categories-container>* {
  margin: 10px 0;
}

/* theme */

footer {
  background-color: #f5f5f5;
  padding: 40px 0;
}

footer>div>p, footer>div>a {
  font-size: 12px;
  font-weight: 900;
}

footer>div>a {
  margin: 0 20px;
}

#footer-categories>ul {
  margin: 0;
}

#footer-categories>ul>li {
  margin: 0 10px 0 0;
  font-weight: 900;
  font-size: 12px;
}

.footer-fb {
  font-size: 24px;
}

.mobile-100 {
  flex-basis: 100%;
  margin: 20px 0;
}

/*Tablet and desktop*/

@media (min-width: 600px) {
  .tour-mobile-item {
    margin: 20px 5%;
    max-width: 40%;
  }
  .category-item {
    margin: 10px 2%;
    flex-basis: 46%;
  }
  .hero-left>h1 {
    font-size: 45px;
  }
  .hero-left>h2 {
    font-size: 84px;
  }
}

@media (min-width: 941px) {
  .hero-left>h1 {
    font-size: 65px;
  }
  .hero-left>h2 {
    font-size: 111px;
  }
  /* header */
  .hide-md {
    display: flex !important;
  }
  .hamburger {
    display: none;
  }
  .MobileMenu {
    display: none;
  }
  .hero {
    margin-top: 10vh;
  }
  .circle {
    top: 180px;
    right: 100px;
  }
  .flex-wrap {
    flex-wrap: nowrap;
  }
  .side-margin {
    margin: 0 10%;
  }
  .tour-mobile-item {
    /*flex-basis: 20%;*/
    max-width: 20%;
    margin: 20px .5%;
  }
  .category-mobile-item {
    width: 48%;
  }
  .comment-slider {
    width: 50%;
  }
  .mobile-100 {
    flex-basis: inherit;
  }
}