/*src:  url('icomoon.eot?ci84zi');
url('icomoon.eot?ci84zi#iefix') format('embedded-opentype'),
url('icomoon.ttf?ci84zi') format('truetype'),*/

@font-face {
  font-family: 'icomoon';
  src: url('icomoon.woff?ci84zi') format('woff'), url('icomoon.svg?ci84zi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="spli-"], [class*=" spli-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /*speak: none;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spli-search:before {
  content: "\e900";
}

.spli-youtube:before {
  content: "\e901";
}

.spli-instagram:before {
  content: "\e902";
}

.spli-facebook:before {
  content: "\e903";
}

.spli-arrow-left:before {
  content: "\e904";
}

.spli-arrow-right:before {
  content: "\e905";
}

.spli-star:before {
  content: "\e906";
}

.spli-duration:before {
  content: "\e907";
}

.spli-velero:before {
  content: "\e908";
}

.spli-kayacs:before {
  content: "\e909";
}

.spli-paddles:before {
  content: "\e90a";
}

.spli-sitios-arqueologicos:before {
  content: "\e90b";
}

.spli-barco-a-motor:before {
  content: "\e90c";
}

.spli-whatsapp:before {
  content: "\e90d";
}